# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# idea
.idea/
.idea/**/*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist/**/*
!/dist/index.html
!/dist/favicon.ico
!/dist/manifest.json
!/dist/404.html
!/dist/favicon-16x16.png
!/dist/favicon-32x32.png
!/dist/demo.html
!/dist/demo-data.html
!/dist/demo-old.html
!/dist/box_folding_demo.html
!/dist/multiplayer_demo.html
!/dist/logo-webgl.svg
!/dist/TemplateData
!/dist/TemplateData/**/*
!/dist/Build
!/dist/Build/UnityLoader.js
!/dist/responsiveMinimalTemplateLoader.js
!/dist/responsiveMinimalTemplateStyles.css

# ts build server
/ibds/dist/**/*
/ibds/uploads/**/*
!/ibds/dist/now.json
!/ibds/dist/package.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
