.title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-size: 52px;
  line-height: 68px;
  text-indent: -5px;
  color: #FAFAFA;
  max-width: 484px;

  &.centered {
    max-width: none;
    text-align: center;
  }

  &.small {
    font-size: 36px;
    line-height: 44px;
  }
}
