.padview {
  width: 652px;
  height: 472px;
  background-size: 652px 472px;
  background-image: url("ipad-pro-mock.png");
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  .padview-image {
    background: #242424;
    flex-shrink: 0;
    border-radius: 16px;
    margin: 20px;
    flex-grow: 1;
    background-size: 612px 432px;
  }
}
