.contact-form {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    background: #ffffff;

    &.sent {
        padding-top: 180px;
        padding-bottom: 180px;

        @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2) {
            justify-content: stretch;
            padding-top: 20px;
            padding-bottom: 32px;
        }
    }

    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
        justify-content: stretch;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .form-container {
        padding: 42px 32px;
        border-radius: 10px;
        background: #F6F6F6;

        @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2) {
            border-radius: 0;
            width: 100%;
            padding: 42px 20px;
        }

        .form-title {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: #000000;
            margin: 0;
            padding-bottom: 12px;
        }

        .form-text {   
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            width: 392px;
            margin: 0;

            @media only screen
            and (min-device-width: 320px)
            and (max-device-width: 568px)
            and (-webkit-min-device-pixel-ratio: 2) {
                width: auto;
            }
        }

        .form-inputs {
            padding-top: 12px;
            padding-bottom: 12px;

            .input {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                padding: 12px 0;

                span {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 14px;
                    color: #8E8E93;
                }

                input, textarea {
                    margin-top: 12px;
                    padding: 16px 12px;
                    border-radius: 8px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: #ffffff;
                    border: 1px solid #D2D2D4;
                    box-sizing: border-box;
                    display: block;
                    outline: none;
                    box-shadow: none;
                    font-family: 'Roboto', sans-serif;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    color: #040506;
                    transition: box-shadow  0.1s ease-in, border 0.1s ease-in;

                    &:focus {
                        border: 1px solid #ff9500 !important;
                        box-shadow: 0px 0px 0px 4px rgba(255, 149, 0, 0.1);
                    }
                }

                textarea {
                    min-height: 80px;
                    resize: vertical;
                }

                &.error {
                    input {
                        border: 1px solid rgba(255, 59, 48, 0.4);
                        background: rgba(255, 59, 48, 0.05)
                    }
                }
            }
        }

        .form-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 18px 24px;
            background: #0077FF;
            border-radius: 10px;

            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            color: #fff;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}

.button-loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 18px;

    div {
        width: 24px;
        margin-right: 4px;
        height: 4px;
        background: #fff;
        opacity: 0.5;
        border-radius: 1px;

        &:last-child {
            margin-right: 0;
        }
    }

    .first {
        animation: ButtonLoader 1s infinite;
    }

    .second {
        animation: ButtonLoader 1s 0.25s infinite;
    }

    .third {
        animation: ButtonLoader 1s 0.5s infinite;
    }
}

@keyframes ButtonLoader {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.action-button-orange {
    padding: 14px 16px;
    border-radius: 10px;
    text-align: center;
    background: #ff9500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.01em;

    &.grey {
        background: #DCDCDC;
        color: #464646;
    }

    &:hover {
        opacity: 0.85;
        cursor: pointer;
    }
}