* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased; /* antialiased */
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
  --common-text-color: #37352F;
  --orange: #FF9500;
  --orange-hover: #FF7A00;
  --pearl: #F5F5F7;
  --roboto: 'Roboto', sans-serif;
}